/* body {
    background-image: url('../images/rain.jpg');
} */

.container {
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    margin: 10px;
    height: 95vh;
    
    color: azure;
    
    /* opacity: 0.5; */

}
.black-box {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 10px;
    border-radius: 15px;
    padding: 15px;
}

input {
    margin: 10px;
    width: 90%;
}

.location {
    grid-area: 1/1/2/5;
}

.hourly {
    grid-area: 1/5/4/-1;
}

.hourlyData {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    text-align: center;
}

.current-hour-box, .current-day-box {
    background-color: rgb(10, 9, 9);
}

.current {
    grid-area: 2/1/-1/5;
    background-color: rgb(51, 71, 110, 0.5);
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr;
    border-radius: 15px;
}
.current-weather {
    grid-column-start: span 2;
    grid-row-start: span 2;
    text-align: center;
}

.period {
    grid-area: 4/5/7/-1;
    
}

.next-6 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.UV {
    grid-area: 7/5/-1/8;
    
}
.wind {
    grid-area: 7/8/-1/-1;
    
}